icons = "awesome"

[theme]
name = "solarized-dark"
[theme.overrides]
idle_bg = "#123456"
idle_fg = "#abcdef"

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
on_click = "baobab"

[[block]]
block = "disk_space"
path = "/home"
alias = "ï€•"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
on_click = "baobab"

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mug} of {MTg}GB"
format_swap = "{SUg} of {STg}GB"
interval = 5
warning_mem = 80
warning_swap = 80
critical_mem = 95
critical_swap = 95

[[block]]
block = "cpu"
interval = 1
on_click = "gnome-system-monitor --show-resources-tab"

[[block]]
block = "load"
interval = 1
format = "{1m} {5m}"

[[block]]
block = "sound"
on_click = "pavucontrol"

[[block]]
block = "net"
device = "enp68s0"
ssid = false
signal_strength = false
ip = false
speed_up = true
speed_down = true
graph_up = false
graph_down = false
on_click = "gnome-system-monitor --show-resources-tab"
interval = 5

[[block]]
block = "time"
interval = 1
format = "%a %d/%m %T"
on_click = "gnome-calendar"